.contenedor-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    margin: 60px auto;
}

.contenedor-login h1{
    font-size: 1.5rem;
    margin: 50px 0 60px;
}

.input-form {
    margin-bottom: 45px;
    position: relative;
    background-color: transparent;
}

.input-form input,
.input-form input:placeholder-shown { 
    color: #222222;
    width: 100%;
    border: 1.5px solid #979797;
    box-shadow: 0px 0px 1px 1px #979797;
    padding: 10px;
    outline: none;
    font-size: 1.1rem;
    border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    z-index: 2;
}
    .input-form input:focus {
        box-shadow: 0px 0px 1px 1px #f0b000;
        border: 1.5px solid #d39f10;
    }

.input-form label {
    position: absolute;
    top: 13px;
    left: 10px;
    color: gray;
    font-weight: 200;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /*SIMILAR A UN EASE-IN CON EFECTO BOUNCE*/
        -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 2;
}
    .input-form input:focus + label,
    .input-form input:active + label,
    .input-form input:not(:placeholder-shown) + label {
        color: #d39f10;
        font-size: 0.8rem;
        font-weight: 500;
        background-color: #fff;
        transform: translateY(-18px);
            -webkit-transform: translateY(-18px);
            -moz-transform: translateY(-18px);
            -ms-transform: translateY(-18px);
            -o-transform: translateY(-18px);
        padding: 0 5px;
    }

.contenedor-login .registro {
    font-size: 1rem;
    margin-bottom: 60px;
}

.contenedor-login a {
    color: #000075;
    font-style: italic;
}

.contenedor-login a:focus {
    color: blue;
}

.contenedor-login button {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    background-color: #f0b000;
    border: 2px solid #f0b000;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;  
    margin-bottom: 60px;
}
    .contenedor-login button:hover {
        background-color: #fdc019;
        border: 2px solid #fdc019;
    }
    .contenedor-login button:active,
    .contenedor-login button:focus {
        background-color: #d39f10;
        border: 2px solid #d39f10;
        transform: scale(0.98);
            -webkit-transform: scale(0.98);
            -moz-transform: scale(0.98);
            -ms-transform: scale(0.98);
            -o-transform: scale(0.98);
    }
   

